<table border="0" cellpadding="0" cellspacing="0" width="100%" id="ko_compactarticlerightBlock_5"><tbody><tr class="row-a">
    <td bgcolor="#EDE8DA" align="center" class="section-padding" style="padding: 0px 15px 0px 15px;">
        <table border="0" cellpadding="0" cellspacing="0" width="500" style="padding: 0 0 20px 0;" class="responsive-table"><tbody><tr>
            <td style="padding: 40px 0 0 0;" class="no-padding">
                <!-- ARTICLE -->
                <table border="0" cellspacing="0" cellpadding="0" width="100%"><tbody>
                <tr>
                    <td align="right" class="padding-meta" style="padding: 0 25px 5px 0px; font-size: 13px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #3F3D33;">Negative 78%</td>
                </tr>
                <tr>
                    <td align="right" class="padding-copy" style="padding: 0 25px 5px 0px; font-size: 22px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #3F3D33;">Second Downgrade Keeps Apple's Shares Under Pressure</td>
                </tr>
                <tr>
                    <td align="right" class="padding-copy articletextlightStyle" style="padding: 10px 25px 15px 0px; font-size: 16px; line-height: 24px; font-family: Helvetica, Arial, sans-serif; color: #3F3D33;"><p style="margin-top:0px">Abhey Lamba from Mizuho Securities was the second analyst in two weeks to downgrade Apple. Andy Hargreaves from Pacific Crest downgraded the shares from Overweight to Sector weight on June 4 when the shares were at $155.45 for almost the exact same reasons.</p></td>
                </tr>
                <tr>
                    <td style="padding: 0 25px 45px 0px;" align="right" class="padding">
                        <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container"><tbody><tr>
                            <td align="center">
                                <!-- BULLETPROOF BUTTON -->
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container"><tbody><tr>
                                    <td align="center" style="padding: 0;" class="padding-copy">
                                        <table border="0" cellspacing="0" cellpadding="0" class="responsive-table"><tbody><tr>
                                            <td align="center">
                                                <a target="_new" class="mobile-button" style="display: inline-block; font-size: 15px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #9C010F; padding-top: 10px; padding-bottom: 10px; padding-left: 20px; padding-right: 20px; border-radius: 3px; border-bottom: 3px solid #5f0109; -webkit-border-radius: 3px; -moz-border-radius: 3px;" href="https://www.forbes.com/sites/chuckjones/2017/06/17/second-downgrade-keeps-apples-shares-under-pressure/#5d2b0d82117b">Show more ?</a>
                                            </td>
                                        </tr></tbody></table>
                                    </td>
                                </tr></tbody></table>
                            </td>
                        </tr></tbody></table>
                    </td>
                </tr>
                </tbody></table>
            </td>
            <td valign="top" style="padding: 40px 0 0 0;" class="mobile-hide"><a target="_new" href="https://www.forbes.com/sites/chuckjones/2017/06/17/second-downgrade-keeps-apples-shares-under-pressure/#5d2b0d82117b"><img alt="" width="155" border="0" style="display: block; font-family: Arial; color: #3F3D33; font-size: 14px; width: 155px;" src="https://mosaico.io/srv/f-93v2ntq/img?src=https%3A%2F%2Fmosaico.io%2Ffiles%2F93v2ntq%2F960x0%2520%25281%2529.jpg&amp;method=resize&amp;params=155%2Cnull"></a></td>

        </tr></tbody></table>
    </td>
</tr></tbody></table>