body {
	background: url("/images/login_background.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.form-registration-heading {
	text-align:center;
	margin-bottom: 30px;
	color: white;
}

.validation-message {
	font-style: normal;
	font-size: 12px;
	color: #FF1C19;
}

.container {
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

#registration-form {
	 max-width: 420px;
	 padding: 30px 38px 30px 38px;
	 margin: 0 auto;
	 background-color: rgba(10,10,10,0.7);
	 border: 3px rgba(0,0,0,0.1);
	 width: 100%;
	 border-radius: 5px;
 }
