<div ng-app="myApp" ng-controller="View1Ctrl">
    <h1>Create User Form:</h1>
    <form novalidate>
        First Name:<br>
        <input type="text" ng-model="vm.user.firstName"><br>
        Last Name:<br>
        <input type="text" ng-model="vm.user.lastName"><br>
        Email Name:<br>
        <input type="email" ng-model="vm.user.email">
        <br><br>
        <button ng-click="vm.createUser()">SUBMIT</button>
        <button ng-click="">RESET</button>
    </form>
    <p>form = {{vm.user}}</p>
</div>