<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${article.title}"></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script>
    $(document).ready(function() {
        $("#feedbackForm").submit(function (e) {
            $.ajax({
                type: "POST",
                url: "/results/feedback",
                data: $("#feedbackForm").serialize(),
                success: function (response) {
                    alert(response + "\nThank you for your feedback!");
                }
            });
            e.preventDefault();
        });
    } );
</script>
<div class="container">
    <img class="img-responsive" style="max-width: 100%; max-height: 80%" th:src="${article.imageUrl}" alt=""/>
    <br>
    <h1 th:text="${article.title}"></h1>
    <p><span style="color: #808080;" th:text="${article.domain}"></span></p>
    <h4><img class="gr-progress" th:src="${article.sentimentImageUrl}" alt="" width="32" height="32" />&nbsp;&nbsp;<span th:text="${#numbers.formatDecimal(article.sentiment.polarityConfidence * 100,2,0)}"></span>% Confidence</h4>
    <p th:text="${article.summary}"></p>
    <br>
    <h4>Categories:</h4>
    <ul>
        <li th:each="item : ${article.classifications}" th:text="${item}">Classification</li>
    </ul>
    <br>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <form th:action="@{/results/view}" method="get">
                <input type="hidden" name="resultsId" th:value="${article.id}">
                <input type="hidden" name="userEmail" th:value="${userEmail}">
                <button class="col-md-1 btn btn-md btn-warning"
                        type="Submit">Go Back</button>
            </form>
            <a th:href="${article.url}" class="col-md-2 col-md-offset-1 btn btn-md btn-primary">Go To Source Website</a>
            <form id="feedbackForm" class="col-md-4 col-md-offset-1">
                <select name="activityType">
                    <option value="BLOCK_DOMAIN">Block Domain</option>
                    <option value="THUMBS_UP">Like</option>
                    <option value="THUMBS_DOWN">Dislike</option>
                </select>

                <input type="hidden" name="url" th:value="${article.url}">
                <button class="btn btn-md btn-danger" name="feedback"
                        type="Submit">Feedback</button>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
</body>
</html>