<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Main Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
<script type="text/javascript">
	$(function() {
		$('.multiselect-ui').multiselect({
			includeSelectAllOption: true,
            nonSelectedText: "Select Categories",
            numberDisplayed: 0,
            onDropdownHidden: function (e) {
                $('#hiddenChoices').val($('#filter').val().join(','));
            }
		});
	});
</script>
</head>

<body>
	<a id="logoff" href="/logout">
		<span class="glyphicon glyphicon-log-out"></span>
	</a>
	<div class="container">
		<div class="searchRow">
			<div class="col-md-12">
				<form class="form-horizontal" th:action="@{/home/search}" method="get">
					<div class="input-group" id="adv-search">
						<input type="text" name="queryValue" required="true" class="form-control" placeholder="Search" />
						<div class="input-group-btn">
							<div class="btn-group" role="group">
								<input type="hidden" name="haveToAppear" id="hiddenChoices" value="" />
								<select id="filter" multiple="multiple" class="multiselect-ui form-control">
									<option value="IAB1">Arts & Entertainment</option>
									<option value="IAB2">Automotive</option>
									<option value="IAB3">Business</option>
									<option value="IAB4">Careers</option>
									<option value="IAB5">Education</option>
									<option value="IAB6">Family & Parenting</option>
									<option value="IAB7">Health & Fitness</option>
									<option value="IAB8">Food & Drink</option>
									<option value="IAB9">Hobbies & Interests</option>
									<option value="IAB10">Home & Garden</option>
									<option value="IAB11">Law, Gov’t & Politics</option>
									<option value="IAB12">News</option>
									<option value="IAB13">Personal Finance</option>
									<option value="IAB14">Society</option>
									<option value="IAB15">Science</option>
									<option value="IAB16">Pets</option>
									<option value="IAB17">Sports</option>
									<option value="IAB18">Style & Fashion</option>
									<option value="IAB19">Technology & Computing</option>
									<option value="IAB20">Travel</option>
									<option value="IAB21">Real Estate</option>
									<option value="IAB22">Shopping</option>
									<option value="IAB23">Religion & Spirituality</option>
								</select>
								<button type="Submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>