<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Search Started</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/search-started.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <a id="logoff" class="standalone-button" href="/logout">
        <span class="glyphicon glyphicon-log-out"></span>
    </a>
    <a id="back-home" class="standalone-button" href="/home">
        <span class="glyphicon glyphicon-home"></span>
    </a>
    <div class="container">
        <div id="panel" class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Search Started!</h3>
            </div>
            <div class="panel-body">
                You will soon receive an email with the results digest.
                Thanks for using MyBuzz!
            </div>
        </div>
    </div>
</body>
</html>