<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>News Workshop</title>
    <script type="text/javascript" src="assets/libs/angular.min.js"></script>
    <script type="text/javascript" src="assets/libs/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="assets/libs/jquery.form.js"></script>

    <script>
        var app = angular.module('myApp', []);
        app.controller("myCtrl",function($scope, $http) {
            $scope.currentView = 'CreateUser';
        });

//        <!-- $(document).ready(function() {
//            $('#startQuery')
//                .ajaxForm({
//                    dataType : 'json',
//                    success : function (responseText, statusText, xhr, $form) {
//                        alert('status: ' + statusText + '\n\nresponseText: \n' + responseText +
//                            '\n\nThe output div should have already been updated with the responseText.');
//                    }
//                });
//        });-->


    </script>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <ul ng-model="currentView">
        <li><button ng-click="currentView = 'CreateUser'">Create User</button></li>
        <li><button ng-click="currentView = 'StartQuery'">Start Query</button></li>
        <li><button ng-click="currentView = 'SendFeedback'">Send Feedback</button></li>
    </ul>
    <div ng-show="currentView === 'CreateUser'">
    <h1>Create User</h1>
    <form method="get" action="/createUser">
        First Name:<br>
        <input type="text" name="firstname" /><br>
        Last Name:<br>
        <input type="text" name="lastname" /><br>
        Email:<br>
        <input type="email" name="email"><br>
        User ID:<br>
        <input type="text" name="userid" />
        <br>
        <br>
        <input type="submit" />
    </form>
    </div>

    <div ng-show="currentView === 'StartQuery'">
        <h1>Start Query</h1>
        <form id="startQuery" action="/startSearch" method="post">
            Have to Appear (IAB ids):<br>
            <input type="text" name="haveToAppear" value="IAB-19"/><br>
            Must not appear (IAB ids):<br>
            <input type="text" name="cantAppear" value="IAB19-10"/><br>
            Query Keywords:<br>
            <input type="text" name="queries" value="apple"/><br>
            Black List Domains:<br>
            <input type="text" name="blackListDomains" value="ft.com">
            <br>
            <br>
            <input type="submit" />
        </form>
    </div>

    <div ng-show="currentView === 'SendFeedback'">
        <h1>Start Query</h1>
        <form action="/sendUserFeedback" method="get">
            URL:<br>
            <input type="url" name="feedbackurl" value=""/><br>
            Feedback:<br>
            <select name="feedback">
                <option value="0">BLOCK DOMAIN</option>
                <option value="1">THUMBS UP</option>
                <option value="2">THUMBS DOWN</option>
            </select>
            <br>
            <input type="submit" />
        </form>
    </div>
</div>
</body>
</html>