<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>News Workshop</title>
    <script type="text/javascript" src="assets/libs/angular.min.js"></script>
    <script type="text/javascript" src="assets/libs/jquery-3.2.1.js"></script>

    <script>
        var app = angular.module('myApp', []);
        app.controller("formCtrl",function($scope, $http) {
            $scope.createUser = function(user) {
                console.log(user);

                var data = $.param({
                    firstName: user.firstName,
                    lastName: user.lastName,
                    email: user.email
                });

                var config = {
                    headers : {
                        'Content-Type': 'application/json'
                    }
                }

                $http.post('/createUser', data, config)
                    .then(
                        function(response){
                            console.log('success');
                        },
                        function(response){
                            console.log('error');
                        }
                    );
            };

            $scope.getDataFromServer = function() {

            };
        });
    </script>
</head>
<body>
<div ng-app="myApp" ng-controller="formCtrl">
    <h1>Create User</h1>

    <form method="post" action="/createUser">
        First Name:<br>
        <input type="text" name="firstname" /><br>
        Last Name:<br>
        <input type="text" name="lastname" /><br>
        Email:<br>
        <input type="email" name="email">
        <br>
        <br>
        <input type="submit" />
    </form>

    <!--
    <form novalidate>
        First Name:<br>
        <input type="text" ng-model="user.firstName"><br>
        Last Name:<br>
        <input type="text" ng-model="user.lastName"><br>
        Email:<br>
        <input type="email" ng-model="user.email">
        <br><br>
        <button ng-click="createUser(user)">Submit</button>
    </form>
    <p>form = {{user}}</p>
    -->
</div>
</body>
</html>